@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger alert alert-danger text-center">Error 404</h1>
<h2 class="text-danger text-center">D:</h2>
<h2 class="text-danger text-center">！請返回首頁！</h2>

